* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f0f0f0;
}

label,
form,
input {
  display: block;
}

.card {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding-bottom: 1rem;
  margin: auto;
  text-align: left;
}

header {
  background-color: #552b81;
  color: white;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
}

h3 {
  margin-top: 0.75rem;
  font-weight: 600;
  font-size: 1.45rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.15rem;
}

img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 3px;
}

label {
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

input,
textarea {
  border-color: lightgray;
  border-radius: 4px;
  border-width: 0.25px;
  padding-bottom: 0.5rem;
  border-style: solid;
}

input {
  width: 100%;
}

.submit {
  background-color: #552b81;
  color: white;
  font-size: 0.65rem;
  width: 2.9rem;
  height: 1.35rem;
  padding-top: 4px;
  border-radius: 3px;
  float: right;
}

textarea {
  width: 100%;
  height: 7rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #552b81;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-bottom: 2rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.upper-text {
  align-items: center;
  justify-content: space-between;
}

.anchor-button {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 0.7rem;
  background-color: #542b80;
  border-radius: 5px;
}

#no-entries {
  text-align: center;
}

.middle-content {
  align-items: center;
  justify-content: space-between;
}

i {
  color: #542b80;
}

.bottom-content {
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

#delete {
  color: red;
  font-size: 0.8rem;
  text-decoration: underline;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.background {
  opacity: 0.7;
  height: 100vh;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
}

.modal-content {
  position: fixed;
  opacity: 100%;
  width: 20rem;
  height: 7rem;
  background-color: white;
  color: black;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

#cancel {
  color: #292929;
  background-color: #b6b6b6;
  padding: 0.35rem;
  border-radius: 5px;
}

#confirm {
  background-color: #dc2625;
  color: white;
  padding: 0.35rem;
  border-radius: 5px;
}

.display-inline {
  display: inline;
}

header .column-half {
  width: 160px;
}

@media only screen and (min-width: 768px) {
  .title {
    padding-top: 0;
  }
}
